<!DOCTYPE html>
<html><head>
  <script>
    var MAX_FILE_SIZE = 4096
    function callback(_jsonTxt){
      console.log("_jsonTxt:"+_jsonTxt);
      var outTxtFullEle = document.getElementById("iOutTextFull");
      outTxtFullEle.value = _jsonTxt;
      var jsonObj = JSON.parse(_jsonTxt);
      console.log("callback:"+jsonObj);
      var outTxtEle = document.getElementById("iOutText");
      var text = jsonObj.text.replace(/'^22'/g, '"');
      text = text.replace(/'^2C'/g, ',');
      text = text.replace(/'^3A'/g, ':');
      text = text.replace(/'^3B'/g, ';');
      outTxtEle.value = text;

      addAudioArea(jsonObj.path);
    }
    function onSend(){
      console.log("onSend()");
      var path="output"+Math.floor(10+Math.random()*90);
      var inPathEle = document.getElementById("iInPath");
      inPathEle.value = path;
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        if (req.readyState == 4) { // 通信の完了時
          if (req.status == 200) { // 通信の成功時
            console.log("200 ok:"+req.responseText);
            inPathEle.value = path;
            callback(req.responseText);
          }
        }else{
          console.log("通信中...");
          inPathEle.value = "通信中...";
        }
      }

      var inTextEle = document.getElementById("iInText");
      var text = inTextEle.value;
      if(text==""){
        text="dummy";
      }
      if(text.length>MAX_FILE_SIZE){
        text = text.substr(0,MAX_FILE_SIZE);
      }
      text = inTextEle.value.replace(/"/g, '^22');
      text = text.replace(/,/g, '^2C');
      text = text.replace(/:/g, '^3A');
      text = text.replace(/;/g, '^3B');

      console.log("path="+path);
      let utf8str = String.fromCharCode.apply(null, new TextEncoder().encode(text));
      console.log("req start:"+utf8str);
      req.open('GET', '/api/t2a/?text='+utf8str+'&path='+path, true);
      req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      req.send(Document);        
    }

    function addAudioArea(filename){
      var tgtDivEle = document.getElementById("iAudioOutDiv");
      var agent = window.navigator.userAgent.toLowerCase();
      var isUseSample=(agent.includes("iphone")||agent.includes("ipad"));
      if(isUseSample){
        var preEle = document.createElement("pre");
        preEle.innerHTML="この端末ではwavを鳴らすことができません。<br/>サンプルのmp3を出力しました";
        tgtDivEle.appendChild(preEle);
      }

      var audioEle = document.createElement("audio");
      audioEle.preload="metadata";
      audioEle.controls = true;
      if(isUseSample){
        var src2Ele = document.createElement("source");
        src2Ele.src="media/output.mp3";
        src2Ele.type="audio/mp3";
        audioEle.appendChild(src2Ele);
      }else{
        var srcEle = document.createElement("source");
        srcEle.src="media/"+filename+".wav";
        srcEle.type="audio/wav";
        audioEle.appendChild(srcEle);
        var src2Ele = document.createElement("source");
        src2Ele.src="media/"+filename+".mp3";
        src2Ele.type="audio/mp3";
        audioEle.appendChild(src2Ele);
      }
      tgtDivEle.appendChild(audioEle);
    }

    function onConvPic(){
      var picEle = document.getElementById("iPic");
      alert(picEle.value);
    }

    function previewFile() {
      const preview = document.querySelector('img');
      const file = document.querySelector('input[type=file]').files[0];
      const reader = new FileReader();

      reader.addEventListener("load", function () {
        // pic to base64
        preview.src = reader.result;
        var inTextEle = document.getElementById("iInText");
        var bs64Val = "";
        var bs64Val = reader.result;
        /*
        var bs64Arr = reader.result.split(',');
        var bs64Val = bs64Arr[(bs64Arr.length>1)?1 :0]
        */
        if(bs64Val.length>MAX_FILE_SIZE){
          bs64Val = bs64Val.substr(0,MAX_FILE_SIZE);
        }
        inTextEle.value = bs64Val;
      }, false);

      if (file) {
        reader.readAsDataURL(file);
      }
    }

  </script>
</head><body>
  {% load static %}
  <img src="{% static 'images/lenna_high.png' %}" width="100px" border="0" /><br/>
  <input type="file" onchange="previewFile()"><br>

  <form id = "iForm1" method="post" enctype="multipart/form-data">
    text(<4kB):<br/>
<textarea  id="iInText" type="text" rows="10" cols="50">
10 cls
20 print "hello, world"
30 goto 20
</textarea><br/>
    <input id="iInPath" type="text" value="output" readonly/>
    <input type="button" value=".wavに変換" onclick="onSend()"/>
  </form>
  <form id = "iForm2">
    <input type="hidden" id = "iOutText" type="text" value=""/>
    <input type="hidden" id = "iOutTextFull" type="text" value=""/>
  </form>

  <div id="iAudioOutDiv">
  </div>
    
</body></html>