<!DOCTYPE html>
<html><head>
  <script>
    function callback(_jsonTxt){
      console.log("_jsonTxt:"+_jsonTxt);
      var jsonObj = JSON.parse(_jsonTxt);
      console.log("callback:"+jsonObj);
      var outTxtEle = document.getElementById("iOutText");
      outTxtEle.value = jsonObj.text;
    }
    function onClick(){
      console.log("onClick()");
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        var result = document.getElementById("iOutText");
        if (req.readyState == 4) { // 通信の完了時
          if (req.status == 200) { // 通信の成功時
            console.log("200 ok:"+req.responseText);
            callback(req.responseText);
          }
        }else{
          console.log("通信中...");
          result.innerHTML = "通信中...";
        }
      }
      console.log("req start");
      req.open('GET', '/api/s2a/aba', true);
      req.send(null);        
    }
  </script>
</head><body>
  {% load static %}
  <img src="{% static 'images/lenna_high.png' %}" width="100px" border="0" /><br/>
  
  hello
  {{ "getdata" }}
  <form id = "iForm1">
    <input id="iInText" type="text" value="123"/>
    <input type="button" value="send" onclick="onClick()"/>
  </form>
  <form id = "iForm2">
    <input id = "iOutText" type="text" value=""/>
  </form>
</body></html>